@font-face {
  font-family: Lalezar;
  src: url("./fonts/Lalezar/Lalezar-Regular.ttf");
}

@font-face {
  font-family: Quicksand;
  src: url("./fonts/Quicksand/static/Quicksand-Light.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.continer {
  max-width: 1560px;
  margin: 0 auto;
  box-sizing: border-box;
}
